<!DOCTYPE HTML>

<html lang="en">

<head>

<meta charset="UTF-8"/>

<!-- <meta http-equiv="refresh" content="3; url=redirect.html"/> -->

<meta name="description" content="some html examples"/>

<meta name="keywords" content="examples"/>

<link rel="stylesheet" href="styles.css"/>

<meta name="viewport" content="width=device-width">

<!-- <link rel="icon" href="favicon.ico"/> -->

<title>Individual Information</title>

</head>
<body>
  <header>
    <div class="container">
      <div id="branding">
        <h1>Gas station reviews!</h1>
      </div>
      <nav>
        <ul>
          <li><a href="submission.html">Submit</a></li>
          <li><a href="search.html">Search</a></li>
        </ul>
      </nav>
    </div>
  </header>

<div class="individualContent">
		<noscript>Please enable javascript</noscript>
		<h1 id="individualTitle">Object Number 1</h1>
    <h3>Address information</h3>
    <img id="individualMap" src="../Resources/ExampleScreenshot.jpg" alt="sample screenshot">
		<p id="individualDesc" >Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
		<table class="reviewsTable">
  			<tr id="reviewsTableHeader">
    			<th>Rating</th>	
    			<th>User</th>
    			<th>Description</th>
  			</tr>
  			<tr>
    			<td>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span> 
          </td>
   			 	<td>Rick</td>
    			<td>Super blest you already know</td>
  			</tr>
  			<tr>
    			<td>1/5</td>
    			<td>Terry</td>
    			<td>Trash</td>
  			</tr>
  			<tr>
  				<td>3/5</td>
  				<td>Mina</td>
  				<td>Not bad</td>
  			</tr>
		</table>

	</div>

  <footer>
    <p>Gas Station Reviews - 4WW3</p>
  </footer>

</body>
</hmtl>