body{
	font-family: Arial, Helvitica, sans-serif;
	font-size:15px;
	padding:0;
	margin:0;
	background-color: #f4f4f4;
	height: auto;
	width: auto;
	display: flex;
	flex-direction: column;
}

.container{
	width:60%;
	margin:auto;
	overflow:hidden;
	display: block;
}

.registration {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	height: auto;
	background-color: grey;
	/*display: block;*/
	text-align: center;
}

.signin {
		height: auto;
		float: left;
		background-color: red;
	}

.register {
		height: auto;
	
		float: right;
		/*padding: 10px;*/
		
	}


.button_1{
	margin: 10px auto;
	display: block;
	height:25px;
	background: red;
	border:0;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}

@media screen and (max-width: 2000px){
	.registration {
		width: 50%;
	}
	.signin {
		width: 50%;
	}

	.register {
		width: 50%;
	}
}

@media screen and (max-width: 999px){
	.registration {
		width: 65%;
	}
	.signin {
		width: 65%;
	}

	.register {
		width: 65%;
	}
}

@media screen and (max-width: 600px){
	.registration {
		width: 80%;
		flex-direction: column;
	}

	.signin {
		width: 100%;
	}

	.register {
		width: 100%;
	}
}

header{
	background: red;
	color: white;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: lightgrey 5px solid;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header ul{
	margin:0;
	padding:0;
}

header li{
	float:right;
	display:inline;
	padding:0 20px 0 20px;

}

header #branding{
	float:left;
}

header #branding h1{
	margin:0;
}

header #branding nav{
	float:right;
	margin-top: 10px;
}

.registration input{
	display: inline-block;
	padding:1%;
	width:60%;
}

.registration p{
	margin: auto;
	margin-top: 6px;
	margin-bottom: 3px;
	/*margin-left: 18%;
	margin-top: 25px;
	margin-bottom: 7px;*/
}

.registration h1{
	font-style: Arial;
}

.registration h2{
	padding-bottom: 20px;
	font-style: Arial;
	text-decoration: underline;
}

#firstName {
	display: inline-block;
	margin: auto;
	margin-bottom: 10px;
	width: 50%;
	float: left;
	/*padding-bottom: 10px;*/
}

#firstName p1{
	display: inline-block;
	float: left;
	width: 100%;
}

#lastName {
	display: inline-block;
	margin: auto;
	margin-bottom: 10px;
	width: 50%;
	float: right;
	/*padding-bottom: 3px;*/
}

#lastName p1{
	float: left;
	width: 100%;
}

input[name="nameInput"]{
	display:inline-block;
	width: 80%;
}

#forgotPass {
	margin: 2px auto;
	display: block; 
	text-align: center;
}

#emailCheck {
	display: flex;
	flex-direction: column;
}

#emailCheckText {
	display: flex;
	text-align: center;
	width: 100%;
	height: 50%;
	padding-top: 6px;
	padding-bottom: 3px;
}

#emailCheckText p{
	margin: auto;
}

#emailCheckBox {
	display: flex;
	width: 100%;
	height: 50%;
	padding-top: 6px;
	padding-bottom: 3px;
	text-align: center;
}

#emailCheckBox input{
	margin: auto;
}

.checkmark {
  height: 30px;
  width: 30px;
  background-color: #eee;
}
/* On mouse-over, add a grey background color */
/*.userNameCheck:hover input ~ .checkmark {
  background-color: #ccc;
}
.userNameCheck input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}*/


footer {
	/*position: fixed;*/
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 20px;
	margin-top: 20px;
	color: white;
	background-color: black;
	text-align: center;
	float: bottom;
	display: block;
	overflow: hidden;
	width: auto;
}



/*
individual below
*/

.individualContent {
	margin: auto;
	margin-top: 20px;
	width: 50%;
	height: auto;
	background-color: grey;
	display: block;
	text-align: center;
	padding: 10px;
	clear: both;
}

.reviews {
	border-collapse: collapse;
	margin: 10px auto;
	width: 90%;
}

.reviews th, td{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.reviews tr:nth-child(even){
	background-color: #f2f2f2;
}

#reviewsHeader {
	background-color: red;
}
