<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8"/>

        <!-- <meta http-equiv="refresh" content="3; url=redirect.html"/> -->

        <meta name="description" content="some html examples"/>

        <meta name="keywords" content="examples"/>

        <link rel="stylesheet" href="styles.css"/>

        <!-- used for icons such as the 5 star ratings-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <meta name="viewport" content="width=device-width">

        <!-- <link rel="icon" href="favicon.ico"/> -->

        <title>Search Results</title>

    </head>

    <body>

        <header>
            <div class="container">
                <div id="branding">
                    <h1><img src="images/polish_crest.jpg" alt="Polish Crest" style="width:200px;height:100px;"> Gas station reviews! <img src="images/gas.jpg" alt="gas image" style="width:200px;height:100px;"></h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="submission.html">Submit</a></li>
                        <li><a href="search.html">Search</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="submission_main"> hello</div>

    </body>

</html>