<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8"/>

        <!-- <meta http-equiv="refresh" content="3; url=redirect.html"/> -->

        <meta name="description" content="some html examples"/>

        <meta name="keywords" content="examples"/>

        <link rel="stylesheet" href="styles.css"/>

        <!-- used for icons such as the 5 star ratings-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <meta name="viewport" content="width=device-width">

        <!-- <link rel="icon" href="favicon.ico"/> -->

        <title>Search Results</title>

    </head>

    <body>

        <header>
            <div class="container">
                <div id="branding">
                    <h1><img src="images/polish_crest.jpg" alt="Polish Crest" style="width:200px;height:100px;"> Gas station reviews! <img src="images/gas.jpg" alt="gas image" style="width:200px;height:100px;"></h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="submission.html">Submit</a></li>
                        <li><a href="search.html">Search</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="results_title">
            <strong>Upload a review</strong>
        </div>

        <div class="submission_main"> 

            <div>
                Name: <input type="text" name="name" value="Name.." id="name">
            </div>

            <div>
                Address: <input type="text" name="address" value="Address.." id="address">
            </div>

            <div>
                Select an image to upload:
                <input type="file" name="imgupload" value="imgupload" id="imgupload">
            </div>

            <div>
                Rating: Terrible
                <input id="terrible" type="radio" name="rating" value="1">
                <input id="bad" type="radio" name="rating" value="2">
                <input id="mediocre" type="radio" name="rating" value="3">
                <input id="good" type="radio" name="rating" value="4">
                <input id="excellent" type="radio" name="rating" value="5">
                Excellent
            </div>

            <input type="submit" value="submit">

        </div>

    </body>

</html>